// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.user-menu .dropdown-menu {
    width: 330px; 
}

.chat-menu .dropdown-menu {
    width: 440px;
}

.chat-menu .dropdown-menu .nav-link {
    color: black;
}
.chat-menu .dropdown-menu .nav-link.active {
    color: black;
}

.notification-menu .dropdown-menu {
    width: 440px;
}

.notification-menu .text-block {
    white-space: normal;
}

.notification-menu .msg-attention {
    background-color: #d4edda;
}
.notification-menu .avatar {
    position: relative;
}
.notification-type-icon {
    position: absolute;
    bottom: -10px;
    left: -14px;

    width: 28px;
    height: 28px;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.21);

    display: flex;
    justify-content: center;
    align-items: center;
}


/* === custom styling === */
/* ====================== */

.sketch-item {
    margin: 1px;
}
.sketch-item-image {
    width: 100%;
    height: auto;
}



.collection-item {
    margin-left: 15px;
    background: rgb(138, 125, 125); padding: 20px; color: white;
}

.collection-item .thumbnail-image {
    width: 150px; height: 80px; overflow: hidden; background:green;
}

.collection-item .thumbnail-image img {
    width: 100%;
}

.gallery-nav {
    margin-top: 10px;

    .btn {
        margin-left: 20px;
    }
}

.collection-list {
    margin-top: 20px;
}