// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face{
    font-family:devioussans02bold;
    src:url(https://st.deviantart.net/fonts/devioussans-02-bold.woff2) format("woff2"),url(https://st.deviantart.net/fonts/devioussans-02-bold.woff) format("woff");
    font-weight:400;
    font-style:normal
}
@font-face{font-family:devioussans02extrabold;src:url(https://st.deviantart.net/fonts/devioussans-02-extrabold.woff2) format("woff2"),url(https://st.deviantart.net/fonts/devioussans-02-extrabold.woff) format("woff");font-weight:400;font-style:normal}
@font-face{font-family:devioussans02light;src:url(https://st.deviantart.net/fonts/devioussans-02-light.woff2) format("woff2"),url(https://st.deviantart.net/fonts/devioussans-02-light.woff) format("woff");font-weight:400;font-style:normal}
@font-face{font-family:devioussans02medium;src:url(https://st.deviantart.net/fonts/devioussans-02-medium.woff2) format("woff2"),url(https://st.deviantart.net/fonts/devioussans-02-medium.woff) format("woff");font-weight:400;font-style:normal}
@font-face{font-family:devioussans02regular;src:url(https://st.deviantart.net/fonts/devioussans-02-regular.woff2) format("woff2"),url(https://st.deviantart.net/fonts/devioussans-02-regular.woff) format("woff");font-weight:400;font-style:normal}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';




.user-menu .dropdown-menu {
    width: 330px; 
}

.chat-menu .dropdown-menu {
    width: 440px;
}

.chat-menu .dropdown-menu .nav-link {
    color: black;
}
.chat-menu .dropdown-menu .nav-link.active {
    color: black;
}

.notification-menu .dropdown-menu {
    width: 440px;
}

.notification-menu .text-block {
    white-space: normal;
}

.notification-menu .msg-attention {
    background-color: #d4edda;
}
.notification-menu .avatar {
    position: relative;
}
.notification-type-icon {
    position: absolute;
    bottom: -10px;
    left: -14px;

    width: 28px;
    height: 28px;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.21);

    display: flex;
    justify-content: center;
    align-items: center;
}


/* === custom styling === */
/* ====================== */

.sketch-item {
    margin: 1px;
}
.sketch-item-image {
    width: 100%;
    height: auto;
}

.default-gallery .sketch-item-image {
    width: auto;
    height: 200px;
}



.collection-item {
    margin-left: 15px;
    background: rgb(138, 125, 125); 
    padding: 20px; 
    color: white;
}

.collection-item.selected {
    background: rgb(93, 82, 82); 
}

.collection-item .thumbnail-image {
    width: 150px; height: 80px; overflow: hidden; background:#555;
}

.collection-item .thumbnail-image img {
    width: 100%;
}

.gallery-nav {
    margin-top: 10px;

    .btn {
        margin-left: 20px;
    }
}

.collection-list {
    margin-top: 20px;
}

.collection-controls {
    margin-top: 20px;
}

.edit-button {
    font-family: devioussans02extrabold, sans-serif;
    font-weight:400;
    font-size:11px;
    line-height:16px;
    letter-spacing:1.3px;
    text-transform:uppercase;
    color: purple;

    margin-left: 20px;
    padding: 5px;
}

.collection-block {
    margin-top: 20px;
}


.collection-edit-model {
    background-color: white;
}
.collection-edit-model .model-body {
    // display: flexbox;
}